<ng-template ngFor let-pokemon [ngForOf]="pokemons">

  <div *ngIf="pokemon.status.id < limit" class="container__card">

    <div class="card" *ngIf="pokemon.status">

      <span class="card__pokemon-id" >
        <p>{{ pokemon.id}}</p>
      </span>

      <a [routerLink]="['details', pokemon.status.id]" href="" class="card__content">
        <section class="content__section">
          <h2 class="section__name">
            {{ pokemon.name }}
          </h2>

          <div class="content__status">
            <ul class="status" *ngFor="let types of pokemon.status.types">
              <li class="status__type {{ types.type.name }}">
        <!-- (pokemon?.status?.types)'?' Serve para verificar se aquela propriedade existe antes,
        para que não retorne 'undefined' e consequentemente gere erro. Mas neste caso teríamos que
        utilizar muitas '?', então este método foi substituído por um '*ngIf' na tag '<div.card>' -->
                {{ types.type.name }}
              </li>
            </ul>
          </div>
        </section>
        <section class="card__img">
          <img [src]="pokemon.status.sprites.other.dream_world.front_default" [alt]="pokemon.name">
        </section>
      </a>
    </div>

  </div>

</ng-template>


