main {
  width: 500px;
  height: 500px;
  margin-top: 40px;
}

.pokemon__name {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
}

.pokemon__name > h2 {
  font-size: 44px;
  color: #b9b9b97d;
  text-shadow: 3px 2px 4px #adadad63;
}

.pokemon__name > h1 {
  color: #FFCC01;
  text-shadow: 0px 0px 2px #3264af99;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  bottom: 10%;
}

.pokemon__status {
  height: 85%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  box-shadow: 0px 0px 4px 1px #0000005e;
}

.image__name {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#pokemon-image {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  bottom: 30%;
}

.status__statistics {
  height: 60%;
  position: relative;
  bottom: 10%;
}

.statistics__container {
  height: 90%;
}

.statistics__container > h3 {
  height: 15%;
  text-align: center;
}

.status__list {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  list-style: none;
}

.status__list > li {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.status__stat {
  width: 35%;
  height: 100%;
  display: flex;
  font-size: 100%;
  align-items: center;
}

.status__bar {
  width: 55%;
  height: 30%;
  padding: 1px 2px;
  display: flex;
  justify-content: flex-start;

  background-color: #80808033;
  border-radius: 10px;
  box-shadow: inset 0px 0px 1px 1px #00000014;
}

.color__bar {
  border-radius: 10px;
  max-width: 100%;
}

.status__stat-value {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.button {
  height: 10%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.btn__secondary {
  text-decoration: none;
  background-color: #77C850;
  padding: 5px 15px;
  border-radius: 10px;
} */
